/* App.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
  text-align: center;
  height: auto;
  padding: 1em;
}

.header {
  margin-bottom: 20px;
}
.header img {
  height: 300px;
}
.content {
  width: 90%; /* Ajuste para melhor responsividade */
  max-width: 600px; /* Limita a largura máxima para dispositivos maiores */
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Espaçamento entre os campos do formulário */
}

/* Estilização adicional para o botão */
button {
  padding: 10px 0; /* Aumenta a altura do botão */
  font-weight: bold; /* Texto em negrito */
}

/* Estilizações específicas para TextField e MenuItem podem ser adicionadas conforme necessário */
h1 {
  font-size: 3em;
  color: #0d3b62;
}
